.RegisterMainPart {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('https://img.freepik.com/free-vector/topographic-background_122380-19.jpg?w=2000');
    background-position: center;
    background-size: cover;
    position: relative;
    overflow-x: hidden;


}

.register {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 85%;
    padding: 120px 0;
    margin: auto;
}

.subRegister1 {
    background: #D8FFFD;
}

.subRegister1 h2 {
    text-align: center;
    font-family: 'SF Compact';
    font-style: normal;
    font-weight: 656;
    font-size: 25px;
    line-height: 30px;
    margin-top: 30px;


    color: #33475B;
}

.subRegister1 img {
    width: 100%;
}

.subRegister2 {
    background-color: white;
}

.subRegister2 h1 {
    text-align: center;
    font-family: 'SF Compact';
    font-style: normal;
    font-weight: 656;
    font-size: 35px;
    line-height: 42px;

    margin-top: 65px;
    margin-bottom: 30px;

    color: #33475B;
}

.RegisterPart2nd {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
}

input [type=text],
select {
    width: 150px;




}

.BTNRegister {

    color: white;
    width: 378px;
    height: 51px;
    left: 683px;
    top: 526px;
    border: none;
    background: #209F85;
    border-radius: 10px;
}

.inputHeadButton span {
    transform: translateY(-50px);
    color: rgb(153, 25, 25);
    background-color: white;
}

label {
    font-family: 'SF Compact';
    font-style: normal;
    font-weight: 457;
    font-size: 18px;
    line-height: 21px;

    color: #33475B;
}

.input {
    font-family: 'SF Compact';
    font-style: normal;
    font-weight: 457;
    font-size: 10px;
    line-height: 12px;
    padding: 14px;
    color: rgba(51, 71, 91, 0.5);

    background: rgba(217, 217, 217, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.registerContent {
    text-align: center;
    font-family: 'SF Compact';
    font-style: normal;
    font-weight: 350;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */


    color: #33475B;
}

.inputHeadButton {
    text-align: center;
    margin: 30px 0;
}

.registerContent span {
    font-family: 'SF Compact';
    font-style: normal;
    font-weight: 350;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */


    color:
        #3582AD;
}






@media only screen and (max-width:860px) {
    .register {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    .RegisterPart2nd {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 8px;
    }

    .subRegister1 img {
        width: 80%;
    }

}

@media only screen and (max-width:560px) {
    .register {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    .subRegister1 img {
        width: 80%;
    }

    .RegisterPart2nd {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 8px;
    }


}